.book {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #eee;
}

.book h2 {
    font-size: 1.3em;
    margin: 4px 0 4px 0;
    font-style: italic;
    text-align: left;
}

.book ul {
    list-style-type: none;
}

.cover {
    float: left;
    width: 100px;
    height: 137px;
    background-color: #eee;
    border: 1px solid black;
    margin-right: 10px;
}